@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ParkinsansRegular";
  src: url("./fonts/ParkinsansRegular.ttf");
}
@layer utilities {
  .custom-scrollbar {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color:#E5E7EB #E5E7EB; /* Thumb and track color for Firefox */
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #E5E7EB;
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: #E5E7EB;
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-button {
    display: none;
  }
}
